header {
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
}
.logo img {
  height: 40px;
}
nav a {
  text-decoration: none;
  color: hsl(243, 87%, 12%);
  padding-left: 20px;
}
nav a:visited {
  color: red;
}
nav a:hover {
  background-color: lightgrey;
  text-decoration: underline;
  border-radius: 20px;
}
nav a:active {
  color: orangered;
}
input:active {
  border-color: red;
  outline: none;
}
button {
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border: none;
}
button:hover {
  background-color: blueviolet;
  cursor: pointer;
}
.hero {
  display: flex;
  align-items: center;
  padding: 0 60px 0 60px;
}
.hero img {
  width: 100%;
}
.hero > div {
  flex: 1;
  /* makes sure that both divs are of the same size */
}
h1 {
  font-size: 40px;
}
